<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %}<title>New Booking</title>{% endblock %}
    <style>
        body {
            background-color: #41436A;
            margin: 0;
        }
        .strip {
            background-color: #E5EFC1;
            height: 12%;
            width: 100%;
            position: fixed;
            top: 0;
            left: 0;
            z-index: 999;
        }
    </style>
    <div class="strip">
        <h1 style="color: #41436A; text-align: center; font-family: Tahoma;">New Booking</h1>
    </div>
</head>
{% block contents %}
<body>
</body>
{% endblock %}
</html>