<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %}<title>Document</title>{% endblock %}
    <style>
        body {
            background-color: #41436A;
        }
        .strip {
            background-color: #E5EFC1;
            height: 10%;
            width: 100%;
            position: fixed;
            top: 0;
            left: 0;
            margin-bottom: 12%;
            position: fixed;
        }
      </style>
      <div class="strip">
          <h1 style="color: #41436A; text-align: center; font-family: Tahoma;">Mounton Brook Lodge</h1>
      </div>
</head>

<body style="margin-top: 10%;">
{% block contents %} 
</body>
{% endblock %}
</html>