{% extends "BaseManagerNavBar.html" %}
{% block title %}<title>Invoices</title>{% endblock %}
{% block contents %}
<style>
    .container {
        margin-left: 15%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-family: Tahoma;
        color: #E5EFC1;
        text-align: center;
    }
    .booking-box {
        display: flex;
        flex-direction: row;
        align-items: center;
        background-color: #f64668;
        color: #E5EFC1;
        border-radius: 12px;
        width: 95%;
        text-align: left;
        padding-left: 2%;
        margin-bottom: 2%;
        font-size: x-small;
        margin-top: 2%;
    }
    .vertical-container {
        display: flex;
        flex-direction: column;
        border-right: 2px solid black;
        padding-right: 3%;
        padding-left: 3%;
        height: 150px;
    }
    .horizontal-container {
        display: flex;
        flex-direction: row;
    }
    hr {
        display: none;
        color: black;
        border: 1px solid black;
        margin-left: -2%;
    }
    .book-button-container{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: 100%;
    }
    .book-button {
        background-color: #E5EFC1;
        color: #42436a;
        border: none;
        font-family: Tahoma;
        margin: 2%;
        width: 40%;
        height: 50px;
        font-weight: 700;
        border-radius: 4px;
        cursor: pointer;
    }
    input[type=submit] {
        background-color: #E5EFC1;
        font-family: Tahoma;
        color: #f64668;
        border: 2px solid black;
        font-size: small;
        font-weight: 700;
        cursor: pointer;
        border-radius: 2px;
        width: 25%;

    }
    input[type=text] {
        background-color: #E5EFC1;
        border-radius: 4px;
        border: 2px solid #ccc;
        width: 75%;
    }
    input[type=text]::placeholder {
        text-align: center;
    }
    .search-menu {
        display: none;
        flex-direction: column;
        padding-bottom: 3%;
    }
    .search-menu-container{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 40%;
        padding: -2%;
        flex-direction: column;
        background-color: #E5EFC1;
        border-radius: 4px;
        margin-left: 2%;
    }
</style>
<div class="container">
    <h1 style="margin-top: 2%; margin-left: -4%;">Invoices</h1>
    <div class="book-button-container">
        <div class="search-menu-container" style="flex-direction: column;">
            <button class="book-button" onclick="toggleSearchMenu()" style="margin: 0%;">Search Bookings</button>
            <div class="search-menu" id="search-menu">
                <div class="horizontal-container" style="align-items: center;">
                    <input type="text" placeholder="Customer's name" id="name-search" style="text-align: center; padding: 2%; margin: 2%; border: none; background-color: #42436a; color: white; width: fit-content; font-weight: 200; border-radius: 3px;">
                    <input type="submit" value="Search" onclick="nameSearch()" style="height: fit-content; background-color: #42436a; color: #E5EFC1; border: none; padding: 2%; font-size: medium; width: fit-content; border-radius: 4px;">
                </div>
                <div class="horizontal-container" style="align-items: center;">
                    <input type="text" placeholder="Number of adult guests" id="guest-number" style="text-align: center; padding: 2%; margin: 2%; border: none; background-color: #42436a; color: white; width: fit-content; font-weight: 200; border-radius: 3px;">
                    <input type="submit" value="Search" onclick="guestNumberSearch()" style="height: fit-content; background-color: #42436a; color: #E5EFC1; border: none; padding: 2%; font-size: medium; width: fit-content; border-radius: 4px;">
                </div>
                <div class="horizontal-container" style="align-items: center;">
                    <input type="text" placeholder="DD" id="date-day" style="text-align: center; padding: 2%; margin: 2%; border: none; background-color: #42436a; color: white; width: 20%; font-weight: 200; border-radius: 3px;">
                    <input type="text" placeholder="MM" id="date-month" style="text-align: center; padding: 2%; margin: 2%; border: none; background-color: #42436a; color: white; width: 20%; font-weight: 200; border-radius: 3px;">
                    <input type="text" placeholder="YYYY" id="date-year" style="text-align: center; padding: 2%; margin: 2%; border: none; background-color: #42436a; color: white; width: 20%; font-weight: 200; border-radius: 3px;">
                    <input type="submit" value="Search" onclick="dateSearch()" style="height: fit-content; background-color: #42436a; color: #E5EFC1; border: none; padding: 2%; font-size: medium; width: fit-content; border-radius: 4px;">
                </div>
                <h5 id="error" style="color: #f64668; display: none; margin-left: 6%;">No bookings found matching this criteria</h5>
            </div>
        </div>
        <button class="book-button">Filter Bookings</button>  
    </div>
    <script>
        let typeError;
        let highError;
        let bookingID;
    </script>
    {% for Booking in BookingsToDisplay %}
    <div class="booking-box">
        <div class="vertical-container" style="width: 40%; margin-right: 2%; height: fit-content;">
            <h2>{{ Booking[4] }} - <span class="customer-name">{{ Booking[1] }} {% if Booking[2] != 'null' %} & {{ Booking[2] }} {% endif %}</span></h2>
            <h2>{{ Booking[5] }} {{ Booking[6] }}</h2>
            <h2>{{ Booking[7] }} - {{ Booking[8] }}</h2>
            <h2 id="{{ Booking[0] }}-type-error" style="background-color: white; color: #f64668; width: fit-content; border-radius: 4px; padding: 2%; display: none;">Please enter a positive number</h2>
            <h2 id="{{ Booking[0] }}-high-error" style="background-color: white; color: #f64668; width: fit-content; border-radius: 4px; padding: 2%; display: none;">Number entered is too big</h2>
        </div>

        <script>
            // An error message is displayed on the booking that invalid data was entered to
            bookingID = {{ Booking[0] }};
            invalidBookingID = {{ InvalidCostBooking }};
            highBookingID = {{ HighCostBooking }};

            if (bookingID === invalidBookingID) {
                typeError = document.getElementById(`${bookingID}-type-error`);
                typeError.style.display = 'flex';
            } else {
                typeError = document.getElementById(`${bookingID}-type-error`);
                typeError.style.display = 'none';
            }

            // An error message is displayed on the booking that a too high payment was entered to
            if (bookingID === highBookingID) {
                highError = document.getElementById(`${bookingID}-high-error`);
                highError.style.display = 'flex';
            } else {
                highError = document.getElementById(`${bookingID}-high-error`);
                highError.style.display = 'none';
            }
        </script>
        
        <h2 style="display: none;" class="booking-date">{{ Booking[25] }}</h2>
        <h2 style="display: none;" class="adult-guest-number">{{ Booking[9] }}</h2>
        <div class="vertical-container" style="width: 20%;">
            <h2 style="text-align: center;">Deposit:</h2>
            <h2 style="text-align: center;">Outstanding:<span style="color: yellow;"> £{{ Booking[13] }}</span></h2>
            <div class="horizontal-container">
                <form method="post" style="display: flex; flex-direction: row;">
                    <input type="text" placeholder="Add payment" name="deposit-input">
                    <input type="hidden" name="booking-id" value="{{ Booking[0] }}">
                    <input type="submit" value="Add">
                </form>
            </div>
        </div>
        <div class="vertical-container" style="border-right: none; width: 20%;">
            <h2 style="text-align: center;">Remaining cost:</h2>
            <h2 style="text-align: center;">Outstanding:<span style="color: yellow;"> £{{ Booking[14] }}</span></h2>
            <div class="horizontal-container">
                <form method="post" style="display: flex; flex-direction: row;">
                    <input type="text" placeholder="Add payment" name="cost-input">
                    <input type="hidden" name="booking-id" value="{{ Booking[0] }}">
                    <input type="submit" value="Add">
                </form>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
<script>
    function toggleSearchMenu() {

        // When the search button is pressed, the search menu is displayed
        let searchMenu = document.getElementById('search-menu');

        if (searchMenu.style.display === 'none') {
            searchMenu.style.display = 'flex';

        // If the search menu is already being displayed, it is now removed
        } else {
            searchMenu.style.display = 'none';
        }
    }

    function nameSearch() {

        // The names that the user has entered is retrieved and converted to lowercase
        let nameInput = document.getElementById('name-search').value.toLowerCase();
        let bookingBoxes = document.querySelectorAll('.booking-box');

        // Found is initialised as false until at least one booking has been found
        let found = false;

        // All booking boxes are checked to see if the match the search criteria
        bookingBoxes.forEach(function (bookingBox) {
            let customerName = bookingBox.querySelector('.customer-name').textContent.toLowerCase();

            if (customerName.includes(nameInput)) {
                bookingBox.style.display = 'flex';
                found = true;

            // If they do not match the search criteria, they are no longer displayed
            } else {
                bookingBox.style.display = 'none';
            }
        });

        // An error message is displayed if no bookings were found matching the search criteria
        let error = document.getElementById('error');
        if (!(found)) {
            error.style.display = 'flex';
        } else {
            error.style.display = 'none';
        }
    }

    function dateSearch() {

        // The day, month and year inputs are retrieved and concatenated to form the date
        let day = document.getElementById('date-day').value;
        let month = document.getElementById('date-month').value;
        let year = document.getElementById('date-year').value;
        let dateInput = year + "-" + month + "-" + day;
        let bookingBoxes = document.querySelectorAll('.booking-box');

        // Found is initialised as false until at least one booking has been found
        let found = false;

        // All booking boxes are checked to see if the match the search criteria
        bookingBoxes.forEach(function (bookingBox) {
            let bookingDate = bookingBox.querySelector('.booking-date').textContent;

            if (bookingDate === dateInput) {
                bookingBox.style.display = 'flex';
                found = true;

            // If they do not match the search criteria, they are no longer displayed
            } else {
                bookingBox.style.display = 'none';
            }
        });

        // An error message is displayed if no bookings were found matching the search criteria
        let error = document.getElementById('error');
        if (!(found)) {
            error.style.display = 'flex';
        } else {
            error.style.display = 'none';
        }
    }

    function guestNumberSearch() {

        // guest number input is retrieved
        let guestNumberInput = document.getElementById('guest-number').value;
        let bookingBoxes = document.querySelectorAll('.booking-box');

        // Found is initialised as false until at least one booking has been found
        let found = false;

        // All booking boxes are checked to see if the match the search criteria
        bookingBoxes.forEach(function (bookingBox) {
            let guestNumber = bookingBox.querySelector('.adult-guest-number').textContent;

            if (guestNumber === guestNumberInput) {
                bookingBox.style.display = 'flex';
                found = true;

            // If they do not match the search criteria, they are no longer displayed
            } else {
                bookingBox.style.display = 'none';
            }
        });

        // An error message is displayed if no bookings were found matching the search criteria
        let error = document.getElementById('error');
        if (!(found)) {
            error.style.display = 'flex';
        } else {
            error.style.display = 'none';
        }
    }
</script>
{% endblock %}