{% extends "BaseBanner.html" %}
{% block title %}<title>Reset Password</title>{% endblock %}
{% block contents %}
<style>
    .container {
        margin-top: 10%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-family: Tahoma;
        color: #E5EFC1;
        text-align: center;
        width: 100%;
        height: 90%;
    }
    input[type=submit] {
        background-color: #E5EFC1;
        font-family: Tahoma;
        color: #41436A;
        border: none;
        font-size: large;
        font-weight: 900;
        cursor: pointer;
        height: 40%;
        border-radius: 2px;
        width: fit-content;
    }
    input[type=submit]:hover {
        background-color: #E5EF99;
    }
    input[type=text] {
        background-color: #E5EFC1;
        border-radius: 4px;
        border: 2px solid #ccc;
        height: 30%;
        width: 20%;
        padding: 1%;
    }
    @media (max-width: 768px) {
        .container {
            padding-top: 15%;
        }
    }
</style>
<div class = "container">
    <h2>An email containing a 6-digit code has been sent to<br>{{ email }}</h2>
    <br>
    <h2>Enter code:</h2>
    <input placeholder="Enter code" type = "text">
    <form style="width: 100%;" method = "post">
        <input style = "margin: 3%;" type = "submit" value = "Continue">
    </form>
    <input type = "submit" value = "Resend email">
</div>
{% endblock %}