{% extends "BaseBanner.html" %}
{% block title %}<title>Reset Password</title>{% endblock %}
{% block contents %}
<style>
    .container {
        margin-top: 10%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-family: Tahoma;
        color: #E5EFC1;
    }
    .grid {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 1fr);
        grid-column-gap: 2%;
        grid-row-gap: 3%;
        justify-items: center;
        align-items: center;
    }
    input[type=text] {
        background-color: #E5EFC1;
        border-radius: 4px;
        border: 2px solid #ccc;
        height: 90%;
        width: 200%;
    }
    input[type=submit] {
        background-color: #E5EFC1;
        font-family: Tahoma;
        color: #41436A;
        border: none;
        font-size: large;
        font-weight: 900;
        cursor: pointer;
        height: 80%;
        border-radius: 2px;
        width: fit-content;
        margin: 5%;
        padding: 5%;
    }
    input[type=submit]:hover {
        background-color: #E5EF99;
    }
</style>
<div class = "container">
    <br>
    <h2 style="text-align: center;">Please enter the email address linked to your account</h2>
    <form id = "View" method="post">
        <div class = "grid">
            <input placeholder="Email" type = "text" name = "Email">
            <input type = "submit" value = "Continue">
            <a href="/login" style = "color: yellow; font-family: Tahoma" >Back to login</a>
        </div>
    </form>
</div>
{% endblock %}