{% extends "BaseBanner.html" %}
{% block title %}<title>Reset Password</title>{% endblock %}
{% block contents %}
<style>
    .container {
        margin-top: 10%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-family: Tahoma;
        color: #E5EFC1;
    }
    @media (max-width: 768px) {
        .container {
            padding-top: 15%;
        }
    }
</style>
<div class = "container">
    <h2 style="text-align: center;">The password for the account linked to the email:</h2>
    <br>
    <h2 style = "border-radius: 4px; padding: 1% 2%; background-color: #E5EFC1; color: #41436A;" >{{ email }}</h2>
    <br>
    <h2>Has been successfully changed</h2>
    <a href="/login" style = "color: yellow; font-family: Tahoma" >Back to login</a>
</div>
{% endblock %}